---
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";

const { class: className } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!-- The best thing? It's all in one -->
<div id="rayo-motto" class:list={["section motto-section gap-y-20 py-20 text-xl md:text-2xl", className]}>
	<div class="col-span-full text-center">
		<h2 id="scramble-text-subtitle" class="font-mono text-base font-bold uppercase tracking-wider text-white">
			{t("services.tagline")}
		</h2>
		<p id="scramble-text-tagline" class="mt-4 text-4xl font-bold leading-tight text-white md:text-6xl">
			{t("hero.tagline")}
		</p>
	</div>
</div>

<style></style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";
	import { SplitText } from "gsap/SplitText";

	gsap.registerPlugin(ScrollTrigger, ScrambleTextPlugin, SplitText);

	function init() {
		var scrambleSubtitleText = new SplitText("#scramble-text-subtitle", { type: "words" });
		var scrambleTaglineText = new SplitText("#scramble-text-tagline", { type: "words" });

		var subtitleTl = gsap.timeline({
			scrollTrigger: {
				trigger: "#scramble-text-subtitle",
				start: "top 80%",
				end: "bottom 20%",
				toggleActions: "play none none reverse",
			},
		});

		scrambleSubtitleText.words.forEach((word, index) => {
			subtitleTl.to(
				word,
				{
					duration: 0.6,
					scrambleText: {
						text: word.textContent,
						chars: "XO",
						revealDelay: 0.5,
						speed: 0.3,
					},
				},
				index * 0.1,
			);
		});

		var taglineTl = gsap.timeline({
			scrollTrigger: {
				trigger: "#scramble-text-tagline",
				start: "top 80%",
				end: "bottom 20%",
				toggleActions: "play none none reverse",
			},
		});

		scrambleTaglineText.words.forEach((word, index) => {
			taglineTl.to(
				word,
				{
					duration: 0.8,
					scrambleText: {
						text: word.textContent,
						chars: "XO",
						revealDelay: 0.6,
						speed: 0.4,
					},
				},
				index * 0.15,
			);
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
